@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /home/david/projetos/travel/css/scss/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 97, /home/david/projetos/travel/css/scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 111, /home/david/projetos/travel/css/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 115, /home/david/projetos/travel/css/scss/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 120, /home/david/projetos/travel/css/scss/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 125, /home/david/projetos/travel/css/scss/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 133, /home/david/projetos/travel/css/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, /home/david/projetos/travel/css/scss/_grid.scss */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-1 {
  width: calc(8.33333% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-2 {
  width: calc(16.66667% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-3 {
  width: calc(25% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-4 {
  width: calc(33.33333% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-5 {
  width: calc(41.66667% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-6 {
  width: calc(50% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-7 {
  width: calc(58.33333% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-8 {
  width: calc(66.66667% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-9 {
  width: calc(75% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-10 {
  width: calc(83.33333% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-11 {
  width: calc(91.66667% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-12 {
  width: calc(100% - 20px);
}

/* line 65, /home/david/projetos/travel/css/scss/_grid.scss */
[class*="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  /* line 65, /home/david/projetos/travel/css/scss/_grid.scss */
  [class*="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-3 {
  margin-left: calc(25% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-6 {
  margin-left: calc(50% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-9 {
  margin-left: calc(75% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  /* line 78, /home/david/projetos/travel/css/scss/_grid.scss */
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

/* line 108, /home/david/projetos/travel/css/scss/_grid.scss */
.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 108, /home/david/projetos/travel/css/scss/_grid.scss */
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  /* line 108, /home/david/projetos/travel/css/scss/_grid.scss */
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 85, /home/david/projetos/travel/css/scss/_grid.scss */
.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

/* line 123, /home/david/projetos/travel/css/scss/_grid.scss */
.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  /* line 123, /home/david/projetos/travel/css/scss/_grid.scss */
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* line 85, /home/david/projetos/travel/css/scss/_grid.scss */
.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

/* line 1, /home/david/projetos/travel/css/scss/_header.scss */
.header {
  padding: 50px 0px 50px 0px;
}

/* line 4, /home/david/projetos/travel/css/scss/_header.scss */
.header > .container > .logo {
  float: left;
}

/* line 6, /home/david/projetos/travel/css/scss/_header.scss */
.header > .container > .logo > .image {
  width: 100%;
}

/* line 10, /home/david/projetos/travel/css/scss/_header.scss */
.header > .container > .main-nav {
  list-style-type: none;
  float: right;
  padding: 50px 0px 50px 0px;
}

/* line 15, /home/david/projetos/travel/css/scss/_header.scss */
.header > .container > .main-nav > .list > .item {
  display: inline-block;
  padding-right: 30px;
}

/* line 18, /home/david/projetos/travel/css/scss/_header.scss */
.header > .container > .main-nav > .list > .item > .link {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  text-align: right;
  padding-bottom: 10px;
}

/* line 26, /home/david/projetos/travel/css/scss/_header.scss */
.header > .container > .main-nav > .list > .item > .link:hover {
  border-bottom: 2px solid #000000;
}

/* line 2, /home/david/projetos/travel/css/scss/_banner.scss */
.banner > .container {
  padding: 50px 0px 50px 0px;
}

/* line 4, /home/david/projetos/travel/css/scss/_banner.scss */
.banner > .container > .title {
  font-family: "Montserrat", sans-serif;
  font-size: 7em;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

/* line 11, /home/david/projetos/travel/css/scss/_banner.scss */
.banner > .container > .description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  line-height: 1.5em;
  color: #000000;
  padding-top: 50px;
}

/* line 1, /home/david/projetos/travel/css/scss/_destinations.scss */
.destinations {
  width: 100%;
  margin: 40px auto 40px auto;
}

/* line 4, /home/david/projetos/travel/css/scss/_destinations.scss */
.destinations > .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 40px auto 40px auto;
}

/* line 11, /home/david/projetos/travel/css/scss/_destinations.scss */
.destinations > .title::after {
  content: "";
  display: block;
  width: 80px;
  background-color: #000000;
  height: 2px;
  margin: 10px auto;
}

/* line 21, /home/david/projetos/travel/css/scss/_destinations.scss */
.destinations > .content > .img {
  height: 300px;
}

/*# sourceMappingURL=../style.map */