@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /home/david/projetos/travel/css/scss/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 97, /home/david/projetos/travel/css/scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 111, /home/david/projetos/travel/css/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 115, /home/david/projetos/travel/css/scss/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 120, /home/david/projetos/travel/css/scss/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 125, /home/david/projetos/travel/css/scss/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 133, /home/david/projetos/travel/css/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Reset
   ========================================================================== */
/**
 * Remove anchor tex-decoration
 */
/* line 146, /home/david/projetos/travel/css/scss/_reset.scss */
a {
  text-decoration: none;
}

/**
 * Remove list-style
 */
/* line 154, /home/david/projetos/travel/css/scss/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 159, /home/david/projetos/travel/css/scss/_reset.scss */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 197, /home/david/projetos/travel/css/scss/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1em;
  font-weight: normal;
}

/*Fim Reset*/
/* line 8, /home/david/projetos/travel/css/scss/_grid.scss */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-1 {
  width: calc(8.33333% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-2 {
  width: calc(16.66667% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-3 {
  width: calc(25% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-4 {
  width: calc(33.33333% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-5 {
  width: calc(41.66667% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-6 {
  width: calc(50% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-7 {
  width: calc(58.33333% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-8 {
  width: calc(66.66667% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-9 {
  width: calc(75% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-10 {
  width: calc(83.33333% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-11 {
  width: calc(91.66667% - 20px);
}

/* line 46, /home/david/projetos/travel/css/scss/_grid.scss */
.grid-12 {
  width: calc(100% - 20px);
}

/* line 65, /home/david/projetos/travel/css/scss/_grid.scss */
[class*="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  /* line 65, /home/david/projetos/travel/css/scss/_grid.scss */
  [class*="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-3 {
  margin-left: calc(25% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-6 {
  margin-left: calc(50% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-9 {
  margin-left: calc(75% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

/* line 71, /home/david/projetos/travel/css/scss/_grid.scss */
.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  /* line 78, /home/david/projetos/travel/css/scss/_grid.scss */
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

/* line 108, /home/david/projetos/travel/css/scss/_grid.scss */
.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 108, /home/david/projetos/travel/css/scss/_grid.scss */
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  /* line 108, /home/david/projetos/travel/css/scss/_grid.scss */
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 85, /home/david/projetos/travel/css/scss/_grid.scss */
.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

/* line 123, /home/david/projetos/travel/css/scss/_grid.scss */
.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  /* line 123, /home/david/projetos/travel/css/scss/_grid.scss */
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* line 85, /home/david/projetos/travel/css/scss/_grid.scss */
.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

/* line 1, /home/david/projetos/travel/css/scss/_all.scss */
body {
  font-size: 16px;
}

/* line 4, /home/david/projetos/travel/css/scss/_all.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 1, /home/david/projetos/travel/css/scss/_header.scss */
.header {
  z-index: 10;
  position: relative;
}

/* line 5, /home/david/projetos/travel/css/scss/_header.scss */
.header .container .logo {
  float: left;
}

/* line 7, /home/david/projetos/travel/css/scss/_header.scss */
.header .container .logo .image {
  width: 100%;
}

/* line 11, /home/david/projetos/travel/css/scss/_header.scss */
.header .container .main-nav {
  list-style-type: none;
  float: right;
  padding: 50px 0px 50px 0px;
}

/* line 16, /home/david/projetos/travel/css/scss/_header.scss */
.header .container .main-nav .list .item {
  display: inline-block;
  padding-right: 30px;
}

/* line 19, /home/david/projetos/travel/css/scss/_header.scss */
.header .container .main-nav .list .item .link {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #F0F5FA;
  text-decoration: none;
  text-align: right;
  padding-bottom: 10px;
}

/* line 26, /home/david/projetos/travel/css/scss/_header.scss */
.header .container .main-nav .list .item .link:hover {
  border-bottom: 2px solid #F0F5FA;
}

/* line 1, /home/david/projetos/travel/css/scss/_banner.scss */
.banner {
  background: url("/travel/img/header-bg.jpg") no-repeat center;
  background-position: center center;
  background-size: cover;
  margin-top: -235px;
  z-index: 1;
  margin-bottom: 60px;
}

/* line 8, /home/david/projetos/travel/css/scss/_banner.scss */
.banner .container {
  padding: 350px 0px 250px 0px;
}

/* line 10, /home/david/projetos/travel/css/scss/_banner.scss */
.banner .container .title {
  font-family: "Montserrat", sans-serif;
  font-size: 7em;
  font-weight: 700;
  text-transform: uppercase;
  color: #F0F5FA;
}

/* line 17, /home/david/projetos/travel/css/scss/_banner.scss */
.banner .container .description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  line-height: 1.5em;
  color: #F0F5FA;
  padding-top: 50px;
}

/* line 1, /home/david/projetos/travel/css/scss/_destinations.scss */
.destinations {
  margin: 60px auto;
}

/* line 3, /home/david/projetos/travel/css/scss/_destinations.scss */
.destinations .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #3583F5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

/* line 10, /home/david/projetos/travel/css/scss/_destinations.scss */
.destinations .title::after {
  content: "";
  display: block;
  width: 80px;
  background-color: #3583F5;
  height: 2px;
  margin: 10px auto;
}

/* line 19, /home/david/projetos/travel/css/scss/_destinations.scss */
.destinations .content {
  width: 100%;
}

/* line 21, /home/david/projetos/travel/css/scss/_destinations.scss */
.destinations .content .wrapper {
  height: 450px;
}

/* line 1, /home/david/projetos/travel/css/scss/_places.scss */
.places {
  max-width: 100%;
  margin: 60px 0px;
}

/* line 4, /home/david/projetos/travel/css/scss/_places.scss */
.places > .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #3583F5;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: block;
}

/* line 12, /home/david/projetos/travel/css/scss/_places.scss */
.places > .title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #3583F5;
  margin: 10px auto;
}

/* line 21, /home/david/projetos/travel/css/scss/_places.scss */
.places .wrapper {
  margin: 0px;
}

/* line 23, /home/david/projetos/travel/css/scss/_places.scss */
.places .wrapper .img {
  width: 100%;
}

/* line 27, /home/david/projetos/travel/css/scss/_places.scss */
.places .content {
  background: #3583F5;
  margin-top: -200px;
  margin-right: 50px;
  padding: 80px 40px;
  float: right;
  position: relative;
}

/* line 34, /home/david/projetos/travel/css/scss/_places.scss */
.places .content .title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  color: #F0F5FA;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #F0F5FA;
  margin-bottom: 20px;
}

/* line 44, /home/david/projetos/travel/css/scss/_places.scss */
.places .content .description {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #F0F5FA;
  line-height: 1.5em;
  margin-bottom: 80px;
}

/* line 51, /home/david/projetos/travel/css/scss/_places.scss */
.places .content .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  color: #F0F5FA;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5em;
  border: 1px solid #F0F5FA;
  padding: 10px 15px;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}

/* line 1, /home/david/projetos/travel/css/scss/_offers.scss */
.offers {
  margin: 60px auto;
}

/* line 3, /home/david/projetos/travel/css/scss/_offers.scss */
.offers > .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #3583F5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

/* line 10, /home/david/projetos/travel/css/scss/_offers.scss */
.offers > .title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #3583F5;
  margin: 10px auto;
}

/* line 20, /home/david/projetos/travel/css/scss/_offers.scss */
.offers .content .item {
  background-color: #3583F5;
  height: 450px;
  text-align: center;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

/* line 27, /home/david/projetos/travel/css/scss/_offers.scss */
.offers .content .item .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  color: #F0F5FA;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5em;
  border: 1px solid #F0F5FA;
  padding: 10px 15px;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  margin-top: 30px;
}

/* line 45, /home/david/projetos/travel/css/scss/_offers.scss */
.offers .content .item:nth-child(2) .description .title,
.offers .content .item:nth-child(5) .description .title {
  color: #F0F5FA;
  text-transform: uppercase;
}

/* line 1, /home/david/projetos/travel/css/scss/_quotes.scss */
.quotes {
  width: 100%;
  position: relative;
  margin: 60px 0px;
}

/* line 5, /home/david/projetos/travel/css/scss/_quotes.scss */
.quotes .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #3583F5;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

/* line 12, /home/david/projetos/travel/css/scss/_quotes.scss */
.quotes .title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #3583F5;
  margin: 10px auto;
}

/* line 21, /home/david/projetos/travel/css/scss/_quotes.scss */
.quotes .content {
  background-color: #3583F5;
}

/* line 23, /home/david/projetos/travel/css/scss/_quotes.scss */
.quotes .content .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #F0F5FA;
  margin: 20px auto;
}

/* line 30, /home/david/projetos/travel/css/scss/_quotes.scss */
.quotes .content .name {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #F0F5FA;
  text-align: center;
  text-transform: uppercase;
}

/* line 36, /home/david/projetos/travel/css/scss/_quotes.scss */
.quotes .content .name::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  margin: 20px auto;
  background-color: #F0F5FA;
}

/* line 45, /home/david/projetos/travel/css/scss/_quotes.scss */
.quotes .content .city {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  text-align: center;
  color: #F0F5FA;
  margin: 20px 10px 50px 10px;
}

/* line 52, /home/david/projetos/travel/css/scss/_quotes.scss */
.quotes .content .quote {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-align: center;
  line-height: 1.5em;
  color: #F0F5FA;
  margin: 10px 0px 80px 0px;
  padding: 0px 50px;
}

/* line 1, /home/david/projetos/travel/css/scss/_hotels.scss */
.hotels {
  max-width: 100%;
  margin: 60px auto;
}

/* line 4, /home/david/projetos/travel/css/scss/_hotels.scss */
.hotels > .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #3583F5;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* line 11, /home/david/projetos/travel/css/scss/_hotels.scss */
.hotels > .title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #3583F5;
  margin: 10px auto;
}

/* line 20, /home/david/projetos/travel/css/scss/_hotels.scss */
.hotels .wrapper {
  margin: 0px;
  float: right;
}

/* line 23, /home/david/projetos/travel/css/scss/_hotels.scss */
.hotels .wrapper .img {
  width: 100%;
}

/* line 27, /home/david/projetos/travel/css/scss/_hotels.scss */
.hotels .content {
  background: #3583F5;
  float: left;
  margin-top: -200px;
  margin-left: 50px;
  padding: 80px 40px;
  position: relative;
}

/* line 34, /home/david/projetos/travel/css/scss/_hotels.scss */
.hotels .content .title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  color: #F0F5FA;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #F0F5FA;
  margin-bottom: 20px;
}

/* line 44, /home/david/projetos/travel/css/scss/_hotels.scss */
.hotels .content .description {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #F0F5FA;
  line-height: 1.5em;
  margin-bottom: 40px;
}

/* line 51, /home/david/projetos/travel/css/scss/_hotels.scss */
.hotels .content .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  color: #F0F5FA;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5em;
  border: 1px solid #F0F5FA;
  padding: 10px 15px;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}

/* line 1, /home/david/projetos/travel/css/scss/_footer.scss */
.footer {
  width: 100%;
  background-color: #3583F5;
  padding: 100px 0px 40px 0px;
  margin: 60px auto 0px auto;
}

/* line 6, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .country {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 11, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .country .list .item {
  padding: 5px 0px;
}

/* line 13, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .country .list .item .link {
  color: #F0F5FA;
  text-decoration: none;
}

/* line 16, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .country .list .item .link:hover {
  color: #90B8F7;
}

/* line 23, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .utils {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 28, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .utils .list .item {
  padding: 5px 0px;
}

/* line 30, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .utils .list .item .link {
  color: #F0F5FA;
  text-decoration: none;
}

/* line 33, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .utils .list .item .link:hover {
  color: #90B8F7;
}

/* line 40, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .bottom-nav {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 45, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .bottom-nav .list .item {
  padding: 5px 0px;
}

/* line 47, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .bottom-nav .list .item .link {
  color: #F0F5FA;
  text-decoration: none;
}

/* line 50, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .bottom-nav .list .item .link:hover {
  color: #90B8F7;
}

/* line 58, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .location .logo {
  margin-bottom: 10px;
}

/* line 61, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .location .address {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #F0F5FA;
  line-height: 1.5em;
  margin: 20px 0px;
}

/* line 68, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .location .tel {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #F0F5FA;
  margin: 20px 0px;
}

/* line 74, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .location #email {
  border: 1px solid #F0F5FA;
  padding: 7px 6px;
  background: #F0F5FA;
  color: #000000;
  margin-right: 0px;
}

/* line 81, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .location .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #F0F5FA;
  border: 1px solid #F0F5FA;
  padding: 6px 10px;
  cursor: pointer;
  margin-left: -5px;
}

/* line 94, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .copy {
  margin-top: 30px;
}

/* line 96, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .copy .container {
  padding-top: 10px;
  border-top: 1px solid #F0F5FA;
}

/* line 99, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .copy .container .text {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #F0F5FA;
}

/* line 105, /home/david/projetos/travel/css/scss/_footer.scss */
.footer .copy .container .social {
  text-align: right;
}

/*# sourceMappingURL=../style.map */