.banner {
    background: url('/travel/img/header-bg.jpg')no-repeat center;
    background-position: center center;
    background-size: cover;
    margin-top: -235px;
    z-index: 1;
    margin-bottom: 60px;
    .container {
        padding: 350px 0px 250px 0px;
        .title {
            font-family: $primary-font;
            font-size: 7em;
            font-weight: 700;
            text-transform: uppercase;
            color: $white;
        }
        .description {
            font-family: $secondary-font;
            font-size: 1.4em;
            line-height: 1.5em;
            color: $white;
            padding-top: 50px;
        }
    }
}