.footer {
    width: 100%;
    background-color: $dark-blue;
    padding: 100px 0px 40px 0px;
    margin: 60px auto 0px auto;
    .wrapper {
        margin-bottom: 60px;
        .country {
            font-family: $secondary-font;
            font-size: 1em;
            line-height: 1.5em;
            .list {
                .item {
                    padding: 5px 0px;
                    .link {
                        color: $white;
                        text-decoration: none;
                        &:hover {
                            border-bottom: 1px solid $white;
                        }
                    }
                }
            }
        }
        .utils {
            font-family: $secondary-font;
            font-size: 1em;
            line-height: 1.5em;
            .list {
                .item {
                    padding: 5px 0px;
                    .link {
                        color: $white;
                        text-decoration: none;
                        &:hover {
                            border-bottom: 1px solid $white;
                        }
                    }
                }
            }
        }
        .bottom-nav {
            font-family: $secondary-font;
            font-size: 1em;
            line-height: 1.5em;
            .list {
                .item {
                    padding: 5px 0px;
                    .link {
                        color: $white;
                        text-decoration: none;
                        &:hover {
                            border-bottom: 1px solid $white;
                        }
                    }
                }
            }
        }
        .location {
            .logo {
                margin: 0 auto;
            }
            .address {
                font-family: $secondary-font;
                font-size: 1em;
                color: $white;
                line-height: 1.5em;
                margin: 10px 0px;
            }
            .tel {
                font-family: $secondary-font;
                font-size: 1em;
                color: $white;
                margin: 10px 0px 40px 0px;
            }
            .email {
                border: 0px;
                padding: 10px 10px;
                background: $white;
                color: $black;
            }
            .btn {
                font-family: $primary-font;
                font-size: 0.875em;
                text-align: center;
                text-transform: uppercase;
                background-color: rgba(0, 0, 0, 0);
                color: $white;
                border: 1px solid $white;
                padding: 9px 9px;
                cursor: pointer;
            }
        }
    }
    .copy {
        margin-top: 30px;
        .wrapper {
            padding-top: 20px;
            border-top: 1px solid $white;
            .text {
                font-family: $secondary-font;
                font-size: 1em;
                line-height: 1.5em;
                color: $white;
            }
            .social {
                text-align: right;
                .list {
                    .item {
                        display: inline-block;
                        .link {
                            background-color: $black;
                            text-indent: -999999px;
                            .twitter, .facebook, .pinterest {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
}