.hotels {
    max-width: 100%;
    margin: 60px auto;
    >.title {
        font-family: $primary-font;
        font-size: 2em;
        color: $dark-blue;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        &::after {
            content: "";
            display: block;
            width: 80px;
            height: 2px;
            background: $dark-blue;
            margin: 10px auto;
        }
    }
    .wrapper {
        margin: 0px;
        float: right;
        .img {
            width: 100%;
        }
    }
    .content {
        background: $dark-blue;
        float: left;
        margin-top: -200px;
        margin-left: 50px;
        padding: 80px 40px;
        position: relative;
        .title {
            font-family: $primary-font;
            font-size: 1.6em;
            color: $white;
            text-align: left;
            text-transform: uppercase;
            padding-bottom: 10px;
            border-bottom: 1px solid $white;
            margin-bottom: 20px;
        }
        .description {
            font-family: $secondary-font;
            font-size: 1em;
            color: $white;
            line-height: 1.5em;
            margin-bottom: 40px;
        }
        .btn {
            font-family: $primary-font;
            font-size: 0.875em;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.5em;
            border: 1px solid $white;
            padding: 10px 15px;
            text-decoration: none;
            background: rgba(0, 0, 0, 0);
            cursor: pointer;
        }
    }
}