.places {
    margin-bottom: 50px;
    >.title {
        font-family: $primary-font;
        font-size: 2em;
        color: $black;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        &::after {
            content: "";
            display: block;
            width: 80px;
            height: 2px;
            background: $black;
            margin: 10px auto;
        }
    }
    .img {
        height: 400px;
        background-color: $dark-blue;
    }
    .content {
        background: $dark-blue;
        padding: 40px;
        .title {
            font-family: $primary-font;
            font-size: 1.6em;
            color: $white;
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        .description {
            font-family: $secondary-font;
            font-size: 1em;
            color: $white;
            line-height: 1.5em;
            margin-bottom: 40px;
        }
        .btn {
            font-family: $primary-font;
            font-size: 0.875em;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.5em;
            border: 1px solid $white;
            padding: 10px 15px;
            text-decoration: none;
            background: rgba(0, 0, 0, 0);
            cursor: pointer;
        }
    }
}