.quotes {
    width: 100%;
    position: relative;
    margin: 60px 0px;
    .title {
        font-family: $primary-font;
        font-size: 2em;
        color: $dark-blue;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 80px;
        &::after {
            content: "";
            display: block;
            width: 80px;
            height: 2px;
            background-color: $dark-blue;
            margin: 10px auto;
        }
    }
    .content {
        padding: 40px 0px;
        background-color: $dark-blue;
        .avatar {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: url('../img/avatar.jpg') no-repeat center;
            margin: 20px auto;
        }
        .name {
            font-family: $primary-font;
            font-size: 2em;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            &::after {
                content: "";
                display: block;
                width: 80px;
                height: 2px;
                margin: 20px auto;
                background-color: $white;
            }
        }
        .city {
            font-family: $primary-font;
            font-size: 1.4em;
            text-align: center;
            color: $white;
            margin: 20px 10px 50px 10px;
        }
        .quote {
            font-family: $secondary-font;
            font-size: 1em;
            text-align: center;
            line-height: 1.5em;
            color: $white;
            margin: 10px 0px 80px 0px;
            padding: 0px 50px;
        }
    }
}