// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans');
$primary-font : 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
// Colors
$white: #F0F5FA;
$dark-blue : #3583F5;
$light-blue: #90B8F7;
$black: #000000;